#spis_rez {
  margin: 8px;
  margin-top: 0;
  border: 1px solid #888888;
  min-height: 238px;
  &.zanyat {
    background-color: rgba(255, 81, 0, 0.25);
  }
  table {
    font-size: 12px;
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    //border: 1px solid grey;
    width: 100%;
    tr {
      border-bottom: solid gray 1px;
      &.old {
        background: #e6e6e6;
      }
      &.norm {
        background: #e6f3e6;
      }
      &.new {
        background: #a6d8e2;
      }
      td {
        padding: 8px;
      }
      &.active {
        color: white;
        &.old {
          background: rgba(0,0,0,1);
        }
        &.norm {
          background: rgba(0,128,0,1);
        }
        &.new {
          background: rgba(0,0,128,1);
        }
        td {
          &.count1 {
            color: #000;
          }
          &.count2 {
            background-color: #ff0e00;
          }
        }
      }
    }
  }
  td{
    &.count1 {
      background-color: #ffe95d;
    }
    &.count2 {
      background-color: #ff9c93;
    }
  }
}
text {
  font-size: 6px;
  //fill: white;
  &.old {
    fill: rgba(50,50,50,1);
  }
  &.norm {
    fill: rgba(0,180,0,1);
  }
  &.new {
    fill: rgba(0,0,255,1);
  }
  tspan {
    //fill: #000;
    width: 0;
    &.name {
      width: auto;
    }

  }
}