#space {
 .plan {
   max-width: 740px;
 }
}
.ex0{
  fill: #fff;
  stroke: none;
}
.st0 {
  fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;
  &:hover {
    stroke: #34c0e2;
    //fill: yellow;
  }
}
.tx1 {
  fill: #000;
  font-size: 6px;
}
.st2{font-size:12px;}
.st1{
  fill:#999;stroke-miterlimit:10;font-size:7px;
}
#sloy_2, #sloy_3 {
  .tx1{
    font-size:16px;
  }
}
#sloy_4 {
  .tx1 {
    font-size: 12px;
  }
  .st2 {
    stroke: #000;
    fill: #999;
  }
}