//* {margin: 0; padding: 0}
@import "svg";
a {text-decoration: none}

p {
  margin: 15px 0;
}

body,
button,
input,
input[type=text],
input[type=password],
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  color:#576369;
  font-size: 20px;

}

button {
  background: #34C0E2;
  color: #fff;
  border: 1px solid #34C0E2;
  padding: 4px 12px;
  margin: 8px 4px;
  //border-radius: 8px;
  &:hover {
    cursor:pointer;
    opacity: 0.8;
  }
}
.center {
  text-align: center;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
input[type=text],
input,
input[type=password],
textarea {
  padding: 8px;
  border: 1px solid #EEEFF2;
  border-radius: 8px;
  color: #ADB6BA;
  width: 300px;
  outline: none;

}
textarea {
  height: 100px;
}
html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  display: block;
  position: relative;
}
 .content, .menu, body, html {

}

.wrapper {
  display: flex;
  min-height: 100%;
}
.content {
  flex: 1;
  background: #FCFCFD;
}

.block {
  margin: 40px;
  padding: 20px;
  background: #fff;
  border: 1px solid #EEEFF2;
}

.menu {
  width: 200px;
  background: #464E78;
}

.menu a {
  display:
          block; color: #fff;
  padding: 10px 25px;
  text-transform: uppercase;
}
#spis_rez {
  margin: 8px;
  padding: 8px;
  border: 1px solid #eeeff2;
  height: 200px;
}
.rowflex {
  display: flex;
}
.w70 {
  max-width: 70%;
  padding: 0;
}
.w30 {
  max-width: 30%;
  padding: 0;
}
.h30 {
  display: block;height: 30px;
}